* {
    box-sizing: border-box;
}

body {
    background-color:#f1d592 ;
    background-image: url();
    color: black;
    background-repeat: none;
    /* text-align: center; */
    font-weight: bold;
    font-size: 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1300px 900px; 
    font-family: FreeMono, monospace;
    padding: 0;
    margin: 0;
}
li {
    
    list-style: none;  
}


h2 {
    padding-top: 4em;
    padding-left: 0;
    color: tomato;
    position: relative;
    top: 0;
    right: 60px;
}
article{
    margin: 4em;
    margin-right: 7em;
}
img{
    height: 75vh;
    max-width: 100%;
}

@media only screen and (max-width: 700px) {
    img {
        max-height: 300px;
    }

    article {
        margin: 1em;
        font-size: 1em;
    }

    h2 {
        position: static;
    }
}

@media only screen and (max-width: 500px) {
    img {
        min-height: 40px;
        min-width: 220px;
    }
    article {
        margin: 0;
        font-size: .75em;

    }
}