.navbar {
    background-color: maroon;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 2;
}

.navbar ul {
    margin: 0;
    display: flex;
    width: 85%;
    height: 100%;
    align-items: center;
}

.navbar ul li {
  display: flex;
  margin: 0 1em;
  width: 20%;
  height: 100%;
  text-align: center;
  justify-content: center;
  padding: .5em 0;
}

.navbar ul li:hover {
    background-color: tomato;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.navbar h3 {
    display: inline;
    color: tomato;
    padding-left: .5em;
}
